/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $border__base;
	border-radius: 3px;
	color: $color__link;
	background-color: $color__background-body;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	margin-top: 1.5rem;

	&:hover,
	&:active,
	&:focus {
		border-color: $color__link-hover;
	}

}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-main;
	background-color: $color__background-body;
	border: $border__base;
	border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label {
	display: block;
}

input[type="submit"] {
	margin-top: $base__space-unit;
}